.title {
    display: block;
    min-width: 100%;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.user_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
}

.user_list li {
    min-width: 100%;
    text-align: left;
}

.icon {
    color: #bf1650;
    font-size: 20px;
}

.link {
    color: white;
    display: inline-block;
    background: #bf1650;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    min-width: 12rem;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 7px;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    background: #e3447e;
}

.btn {
    background: #bf1650;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    height: 22px;
    text-align: center;
    min-width: 12rem;
}

.btn:hover {
    background: #ec5990;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    min-height: 20px;
    padding: 10px 0;
}

.item {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
}

.active {
    color: aqua;
    border: 1px solid aqua;
}

.menu_list {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_btn {
    display: inline-block;
    background: #bf1650;
    text-transform: uppercase;
    border: none;
    min-width: 12rem;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 7px;
    text-align: center;
    cursor: pointer;
}

.menu_btn:hover {
    background: #e3447e;
}

.more_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    padding-top: 0;
}