.title {
    display: block;
    min-width: 100%;
    border-bottom: 2px solid grey;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
}

.posts_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
}

.posts_list li {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding: 5px 0;
}

.completed {
    color: grey;
    text-decoration: line-through;
}